# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\risak\Documents\Richard\Škola\Stredni_skola\Maturitni-zkouska\Dlouhodoba maturitni prace\Dokumentace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
